<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div><a style="color: rgb(247, 247, 247);" class="navbar-brand">Pandemic Game List</a></div>
        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" (click)="welcome()" class="nav-link" style="cursor: pointer;" >Home</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/games" class="nav-link">Games</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" (click)="logout()" class="nav-link" style="cursor: pointer;">Logout</a></li>
        </ul>


    </nav>
</header>
