<h1 style="text-align: center; font-size: 50px; margin: 3%;">My Game List</h1>
<br>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Game Name</th>
                <th>Console</th>
                <th>Complete?</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let game of games " >
                <td>{{game.name | uppercase}}</td>
                <td>{{game.console | uppercase}}</td>
                <td>{{game.isComplete | uppercase}}</td>
                <td><button (click)="updateGame(game.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteGame(game.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
    
    
</div>
<div class="row">
    <button class="btn btn-dark" (click)="addGame()">Add Game</button>
</div>